@import "tailwindcss";

body {
    background-color: #1f2241;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@layer utilities {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-track {
        background: #141843;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb {
        background: #5aa9ff;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #4a8cdb;
    }
}